// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Anton|Ma+Shan+Zheng|Noto+Sans+TC:500&display=swap");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
body {
  background-color: #f3ab0899;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.el-header {
  color: #333;
  line-height: 60px;
  //cum.vue
}
.el-header.cum-header {
  background-color: #b3c0d1;
}
.el-aside {
  color: #333;
}
.albums {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  background-color: blanchedalmond;
  width: 178px;
  height: 178px;
  margin: 1vh;
  overflow: hidden;
  padding: 10px;
  background-size: cover;
  color: aliceblue;
  font-weight: 700;
}

.albums .inalbums {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  margin-top: 100%;
  width: 100%;
  height: auto;
  padding-bottom: 178px;
  transition: margin-top 0.4s ease-in 0s;
  background: rgba(31, 25, 24, 0.6);
}
.simple-control {
  position: absolute;
  top: 42%;
  left: 0;
}
.albums:hover .inalbums {
  margin-top: 0;
}

.albums_icon {
  display: inline-block;
  background: orange;
  margin: 50% 2px 0 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.super-banner {
  width: 100%;
  height: auto;
  background-image: url("https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");

  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
.super-banner h1 {
  font-weight: 600;
  padding: 300px;
}
.Anton {
  font-family: "Anton", sans-serif;
}
.SansTC {
  font-family: "Noto Sans TC", sans-serif;
}
.ShanZheng {
  font-family: "Ma Shan Zheng", cursive;
}
